### Tuple

In [1]:
t=()

In [2]:
type(t)

tuple

In [3]:
t1=(234,34,"Amal",45,True)

In [5]:
t1[0]

234

In [9]:
#Tuples are immutable
t1[0]="hank"

TypeError: 'tuple' object does not support item assignment

In [6]:
t1[0:4]

(234, 34, 'Amal', 45)

In [7]:
t1[::-1]

(True, 45, 'Amal', 34, 234)

In [10]:
t2=(455,"ssdhd",85,"syw")

In [12]:
#While appending, tuple append in new location
t1+t2

(234, 34, 'Amal', 45, True, 455, 'ssdhd', 85, 'syw')

In [13]:
t1*4

(234,
 34,
 'Amal',
 45,
 True,
 234,
 34,
 'Amal',
 45,
 True,
 234,
 34,
 'Amal',
 45,
 True,
 234,
 34,
 'Amal',
 45,
 True)

In [14]:
t1

(234, 34, 'Amal', 45, True)

In [15]:
34 in t1

True

In [16]:
"hhsv" in t1

False

In [17]:
t1

(234, 34, 'Amal', 45, True)

In [18]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [23]:
t3=(45,1,24,668,24,24,144)

In [24]:
max(t3)

668

In [25]:
t3.index(24)

2

In [26]:
t3.count(24)

3

In [27]:
t1

(234, 34, 'Amal', 45, True)

In [28]:
#Converting tuple to list and inserting values
l1=list(t1)

In [29]:
l1

[234, 34, 'Amal', 45, True]

In [30]:
l1.insert(2,"Vin")

In [31]:
l1

[234, 34, 'Vin', 'Amal', 45, True]

In [32]:
#Now converting back as tuple after appending
t1=tuple(l1)

In [33]:
t1

(234, 34, 'Vin', 'Amal', 45, True)

In [34]:
t=((3,4,5,6,7),("Amal",45,45),("454",54),45,454,67,[4,5,6,7,7])

In [36]:
t[6][1]

5

In [39]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('Amal', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [40]:
for i in t:
    if type(i) is tuple:
        print(i[0])

3
Amal
454

In [41]:
t1

(234, 34, 'Vin', 'Amal', 45, True)

In [42]:
t2

(455, 'ssdhd', 85, 'syw')

In [43]:
if len(t1)==len(t2):
    print("It's same")
else:
    print("Not same")

Not same

In [44]:
i=input("Type a user input : ")
if i in t1:
    print("Yes, it's available")
else:
    print("No, It's not available")

Type a user input : Amal
Yes, it's available

In [45]:
t=(234,34,"amal",3.45,34,34,True,"vin")

In [46]:
l1=["amal",656,6526,"sgsf"]

In [51]:
#deletion operation in tuple
del(t)

NameError: name 't' is not defined

In [48]:
t

NameError: name 't' is not defined

In [49]:
del(l1)

In [50]:
l1

NameError: name 'l1' is not defined

## Set

In [1]:
x=set()

In [2]:
type(x)

set

In [5]:
l=[34,45,45,45,45,67,34,56,78,"amal","amal","vincent"]

In [7]:
#Set is a collection which gives distinct elements in it
set(l)

{34, 45, 56, 67, 78, 'amal', 'vincent'}

In [2]:
l=[34,45,45,45,45,67,34,56,78,"amal","amal","Amal","vincent"]

In [3]:
#It's case sensitive
x=set(l)

In [4]:
x

{34, 45, 56, 67, 78, 'Amal', 'amal', 'vincent'}

In [5]:
for i in l:
    print(i)

34
45
45
45
45
67
34
56
78
amal
amal
Amal
vincent

In [12]:
34 in l

True

In [7]:
#Indexing operation won't work in Set
x[0]

TypeError: 'set' object is not subscriptable

In [41]:
#Set won't provide a ordered data
l=[34,45,45,45,45,67,34,56,78,"amal","amal","Amal","vincent",4545,5454454,155]

In [13]:
x=set(l)

In [14]:
x

{155, 34, 45, 4545, 5454454, 56, 67, 78, 'Amal', 'amal', 'vincent'}

In [15]:
s=set()

In [16]:
s

set()

In [17]:
s.add("amal")

In [18]:
s.add(15421)

In [22]:
s.add("sjds")

In [23]:
s

{15421, 'amal', 'sjds'}

In [24]:
#Set will not support nested list
s.add([54,"sds"])

TypeError: unhashable type: 'list'

In [26]:
l=[34,45,45,45,45,67,34,56,78,["sdsds",51],"amal","amal","Amal","vincent",4545,5454454,155]
x=set(l)
x

TypeError: unhashable type: 'list'

In [27]:
s

{15421, 'amal', 'sjds'}

In [28]:
s.remove(15421)

In [29]:
s

{'amal', 'sjds'}

In [30]:
15421 in s

False

In [31]:
s.clear()

In [32]:
s

set()

In [33]:
s.add(234)

In [34]:
s.add("wer")

In [35]:
s.add(345)

In [36]:
s.add("sdsd")

In [37]:
s

{234, 345, 'sdsd', 'wer'}

In [44]:
l=[12545,411,345,6411,841]

In [45]:
s1=set(l)

In [46]:
s1

{345, 411, 841, 6411, 12545}

In [47]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [50]:
l4=list(s)

In [51]:
l4.append(315)

In [52]:
l4

[345, 234, 'wer', 'sdsd', 315]

In [53]:
t4=tuple(s)

In [54]:
set(t4)

{234, 345, 'sdsd', 'wer'}

In [57]:
s[0]=1554

TypeError: 'set' object does not support item assignment

In [58]:
x={15,57,"sds"}

In [60]:
type(x)

set

In [61]:
x1={}

In [62]:
type(x1)

dict

## Dictionary

In [63]:
x={"name":"amal","age":27}

In [64]:
type(x)

dict

In [79]:
#Key won't duplicate, updates with latest
x1={"name":"amal","age":27,"name":"dghsj",True:"shsj","sdjhs":False,154:154662}

In [66]:
x1

{'name': 'dghsj', 'age': 27, True: 'shsj', 'sdjhs': False, 154: 154662}

In [69]:
#key cannot be a special character
x1={"name":"amal","age":514,%:"sds"}

SyntaxError: invalid syntax (<ipython-input-69-b50f82bd10b8>, line 2)

In [70]:
#List,tuple,set can be allowed as value
x1={"sdns":215,"x":[151,51,336,114],"y":(154,88,123),"z":{15545,785,147}}

In [71]:
x1

{'sdns': 215,
 'x': [151, 51, 336, 114],
 'y': (154, 88, 123),
 'z': {147, 785, 15545}}

In [74]:
#dict can be allowed inside a dict
x1={"sdns":215,"x":{151:"sd","sfv":114}}

In [75]:
x1

{'sdns': 215, 'x': {151: 'sd', 'sfv': 114}}

In [76]:
#List cannot be a key
x2={[541,84,21]:"sdsf","an":54}

TypeError: unhashable type: 'list'

In [77]:
#Tuple can be a key
x3={(541,84,21):"sdsf","an":54}

In [78]:
x3

{(541, 84, 21): 'sdsf', 'an': 54}

In [80]:
x1={"name":"amal","age":27,"name":"dghsj",True:"shsj","sdjhs":False,154:154662}

In [81]:
x1["age"]

27

In [82]:
x1[27]

KeyError: 27

In [90]:
#Extracting 89
x4={"name":"amal","y":[55,75,89,14]}

In [86]:
x4["y"][2]

89

In [91]:
x5={"name":"amal","y":{55:75,89:14}}

In [89]:
x5["y"][89]

14

In [92]:
x4+x5

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [93]:
x3*3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [94]:
x5={"name":"amal","y":{55:75,89:14}}

In [96]:
x5["y"]="vin"

In [97]:
x5

{'name': 'amal', 'y': 'vin'}

In [98]:
x4={"name":"amal","y":[55,75,89,14]}

In [99]:
x4["y"][1]=3

In [100]:
x4

{'name': 'amal', 'y': [55, 3, 89, 14]}

In [108]:
x6={"s":515}

In [104]:
x6["s"]-=10

In [105]:
x6

{'s': 505}

In [109]:
x6["s"]=x6["s"]-10

In [110]:
x6

{'s': 505}

In [111]:
x1={"name":"amal","age":27,"name":"dghsj",True:"shsj","sdjhs":False,154:154662}

In [118]:
x1

{'name': 'dghsj', 'age': 27, True: 'shsj', 'sdjhs': False, 154: 154662}

In [113]:
x1.keys()

dict_keys(['name', 'age', True, 'sdjhs', 154])

In [114]:
"sdjhs" in x1.keys()

True

In [116]:
for i in x1:
    print(i)

name
age
True
sdjhs
154

In [120]:
#For getting both values
for i in x1.keys():
    print(x1[i])

dghsj
27
shsj
False
154662

In [133]:
x2={"name":"amal","age":27,True:"shsj","sdjhs":False,154:154662}

In [134]:
for i in x2.keys():
    print(x2[i])

amal
27
shsj
False
154662

In [137]:
#for getting types
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>

In [138]:
x2.items()

dict_items([('name', 'amal'), ('age', 27), (True, 'shsj'), ('sdjhs', False), (154, 154662)])

In [143]:
for i in x2.items():
    print(i[0])

name
age
True
sdjhs
154

In [144]:
x6={(34,56,56):"sdsjdh"}

In [145]:
x6[(34,56,56)]

'sdsjdh'

In [148]:
#total key value pairs
len(x2)

5

### Task

In [4]:
x="Peace is a concept of societal friendship and harmony in the absence of hostility and violence. In a social sense, peace is commonly used to mean a lack of conflict (such as war) and freedom from fear of violence between individuals or groups. Throughout history leaders have used peacemaking and diplomacy to establish a certain type of behavioral restraint that has resulted in the establishment of regional peace or economic growth through various forms of agreements or peace treaties. Such behavioral restraint has often resulted in the reduction of conflicts, greater economic interactivity, and consequently substantial prosperity.Psychological peace (such as a peaceful thinking and emotions) is perhaps less well defined yet often a necessary precursor to establishing behavioral peace. Peaceful behavior sometimes results from a peaceful inner disposition. Some have expressed the belief that peace can be initiated with a certain quality of inner tranquility that does not depend upon the uncertainties of daily life for its existence.The acquisition of such a peaceful internal disposition for oneself and others can contribute to resolving of otherwise seemingly irreconcilable competing interests."

In [7]:
s="sdna sd s"

In [ ]:
s.

In [20]:
#Q1
#Converting input into list
x1=x.replace(".","")
x2=x1.replace("(","")
x3=x2.replace(")","")
x31=x3.replace(",","")
x4=x31.split(" ")
x5=[]
for i in x4:
    l=i.lower()
    x5.append(l)
print(x5)
len(x5)

['peace', 'is', 'a', 'concept', 'of', 'societal', 'friendship', 'and', 'harmony', 'in', 'the', 'absence', 'of', 'hostility', 'and', 'violence', 'in', 'a', 'social', 'sense', 'peace', 'is', 'commonly', 'used', 'to', 'mean', 'a', 'lack', 'of', 'conflict', 'such', 'as', 'war', 'and', 'freedom', 'from', 'fear', 'of', 'violence', 'between', 'individuals', 'or', 'groups', 'throughout', 'history', 'leaders', 'have', 'used', 'peacemaking', 'and', 'diplomacy', 'to', 'establish', 'a', 'certain', 'type', 'of', 'behavioral', 'restraint', 'that', 'has', 'resulted', 'in', 'the', 'establishment', 'of', 'regional', 'peace', 'or', 'economic', 'growth', 'through', 'various', 'forms', 'of', 'agreements', 'or', 'peace', 'treaties', 'such', 'behavioral', 'restraint', 'has', 'often', 'resulted', 'in', 'the', 'reduction', 'of', 'conflicts', 'greater', 'economic', 'interactivity', 'and', 'consequently', 'substantial', 'prosperitypsychological', 'peace', 'such', 'as', 'a', 'peaceful', 'thinking', 'and', 'emotions', 'is', 'perhaps', 'less', 'well', 'defined', 'yet', 'often', 'a', 'necessary', 'precursor', 'to', 'establishing', 'behavioral', 'peace', 'peaceful', 'behavior', 'sometimes', 'results', 'from', 'a', 'peaceful', 'inner', 'disposition', 'some', 'have', 'expressed', 'the', 'belief', 'that', 'peace', 'can', 'be', 'initiated', 'with', 'a', 'certain', 'quality', 'of', 'inner', 'tranquility', 'that', 'does', 'not', 'depend', 'upon', 'the', 'uncertainties', 'of', 'daily', 'life', 'for', 'its', 'existencethe', 'acquisition', 'of', 'such', 'a', 'peaceful', 'internal', 'disposition', 'for', 'oneself', 'and', 'others', 'can', 'contribute', 'to', 'resolving', 'of', 'otherwise', 'seemingly', 'irreconcilable', 'competing', 'interests']

179

In [22]:
#Q2
#Removing all duplicate elements from list
x6=set(x5)
print(x6)
len(x6)

{'mean', 'perhaps', 'certain', 'various', 'quality', 'commonly', 'resolving', 'agreements', 'groups', 'absence', 'irreconcilable', 'others', 'friendship', 'from', 'conflict', 'fear', 'resulted', 'greater', 'well', 'prosperitypsychological', 'and', 'war', 'its', 'precursor', 'thinking', 'behavioral', 'between', 'peaceful', 'otherwise', 'contribute', 'does', 'establishment', 'diplomacy', 'oneself', 'societal', 'peace', 'expressed', 'establishing', 'the', 'violence', 'growth', 'often', 'initiated', 'conflicts', 'or', 'interactivity', 'depend', 'seemingly', 'interests', 'harmony', 'restraint', 'leaders', 'that', 'such', 'be', 'concept', 'establish', 'individuals', 'for', 'lack', 'treaties', 'can', 'not', 'is', 'economic', 'substantial', 'through', 'used', 'throughout', 'with', 'type', 'behavior', 'sometimes', 'to', 'acquisition', 'tranquility', 'hostility', 'history', 'regional', 'existencethe', 'a', 'less', 'daily', 'have', 'life', 'peacemaking', 'emotions', 'reduction', 'defined', 'inner', 'some', 'results', 'of', 'competing', 'forms', 'disposition', 'freedom', 'upon', 'social', 'internal', 'consequently', 'in', 'sense', 'as', 'has', 'uncertainties', 'yet', 'belief', 'necessary'}

109

In [23]:
#Q3
#Use above distinct element as keys for dict and assign your name as a value for all keys
x7=dict.fromkeys(x6,"Amal")
print(x7)

{'mean': 'Amal', 'perhaps': 'Amal', 'certain': 'Amal', 'various': 'Amal', 'quality': 'Amal', 'commonly': 'Amal', 'resolving': 'Amal', 'agreements': 'Amal', 'groups': 'Amal', 'absence': 'Amal', 'irreconcilable': 'Amal', 'others': 'Amal', 'friendship': 'Amal', 'from': 'Amal', 'conflict': 'Amal', 'fear': 'Amal', 'resulted': 'Amal', 'greater': 'Amal', 'well': 'Amal', 'prosperitypsychological': 'Amal', 'and': 'Amal', 'war': 'Amal', 'its': 'Amal', 'precursor': 'Amal', 'thinking': 'Amal', 'behavioral': 'Amal', 'between': 'Amal', 'peaceful': 'Amal', 'otherwise': 'Amal', 'contribute': 'Amal', 'does': 'Amal', 'establishment': 'Amal', 'diplomacy': 'Amal', 'oneself': 'Amal', 'societal': 'Amal', 'peace': 'Amal', 'expressed': 'Amal', 'establishing': 'Amal', 'the': 'Amal', 'violence': 'Amal', 'growth': 'Amal', 'often': 'Amal', 'initiated': 'Amal', 'conflicts': 'Amal', 'or': 'Amal', 'interactivity': 'Amal', 'depend': 'Amal', 'seemingly': 'Amal', 'interests': 'Amal', 'harmony': 'Amal', 'restraint': 'Amal', 'leaders': 'Amal', 'that': 'Amal', 'such': 'Amal', 'be': 'Amal', 'concept': 'Amal', 'establish': 'Amal', 'individuals': 'Amal', 'for': 'Amal', 'lack': 'Amal', 'treaties': 'Amal', 'can': 'Amal', 'not': 'Amal', 'is': 'Amal', 'economic': 'Amal', 'substantial': 'Amal', 'through': 'Amal', 'used': 'Amal', 'throughout': 'Amal', 'with': 'Amal', 'type': 'Amal', 'behavior': 'Amal', 'sometimes': 'Amal', 'to': 'Amal', 'acquisition': 'Amal', 'tranquility': 'Amal', 'hostility': 'Amal', 'history': 'Amal', 'regional': 'Amal', 'existencethe': 'Amal', 'a': 'Amal', 'less': 'Amal', 'daily': 'Amal', 'have': 'Amal', 'life': 'Amal', 'peacemaking': 'Amal', 'emotions': 'Amal', 'reduction': 'Amal', 'defined': 'Amal', 'inner': 'Amal', 'some': 'Amal', 'results': 'Amal', 'of': 'Amal', 'competing': 'Amal', 'forms': 'Amal', 'disposition': 'Amal', 'freedom': 'Amal', 'upon': 'Amal', 'social': 'Amal', 'internal': 'Amal', 'consequently': 'Amal', 'in': 'Amal', 'sense': 'Amal', 'as': 'Amal', 'has': 'Amal', 'uncertainties': 'Amal', 'yet': 'Amal', 'belief': 'Amal', 'necessary': 'Amal'}

In [26]:
#Q4
#Try to print tuple of all the values from dictionary
x8=x7.values()
tuple1=tuple(x8)
print(tuple1)

('Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal', 'Amal')

In [28]:
#Q5
#Try to print list of all the keys from dictionary
x9=x7.keys()
list1=list(x9)
print(list1)

['mean', 'perhaps', 'certain', 'various', 'quality', 'commonly', 'resolving', 'agreements', 'groups', 'absence', 'irreconcilable', 'others', 'friendship', 'from', 'conflict', 'fear', 'resulted', 'greater', 'well', 'prosperitypsychological', 'and', 'war', 'its', 'precursor', 'thinking', 'behavioral', 'between', 'peaceful', 'otherwise', 'contribute', 'does', 'establishment', 'diplomacy', 'oneself', 'societal', 'peace', 'expressed', 'establishing', 'the', 'violence', 'growth', 'often', 'initiated', 'conflicts', 'or', 'interactivity', 'depend', 'seemingly', 'interests', 'harmony', 'restraint', 'leaders', 'that', 'such', 'be', 'concept', 'establish', 'individuals', 'for', 'lack', 'treaties', 'can', 'not', 'is', 'economic', 'substantial', 'through', 'used', 'throughout', 'with', 'type', 'behavior', 'sometimes', 'to', 'acquisition', 'tranquility', 'hostility', 'history', 'regional', 'existencethe', 'a', 'less', 'daily', 'have', 'life', 'peacemaking', 'emotions', 'reduction', 'defined', 'inner', 'some', 'results', 'of', 'competing', 'forms', 'disposition', 'freedom', 'upon', 'social', 'internal', 'consequently', 'in', 'sense', 'as', 'has', 'uncertainties', 'yet', 'belief', 'necessary']

In [4]:
#Iterations inside a dictionary
d={"Company":"Ineuron","Course":"Data science","Year":2019}
for i in d:
    print(i)

Company
Course
Year

In [2]:
for i in d:
    print(d[i])

Ineuron
Data science
2022

In [38]:
for i in d.items():
    print(i)

('Company', 'Ineuron')
('Course', 'Data science')
('Year', 2020)

In [33]:
"Course" in d

True

In [13]:
d={"Company":"Ineuron","Course":"Data science","Year":2019}
for i in d:
    if i == "Year":
        if d[i]>2020:
            print("Date is valid")
        else:
            d[i]=int(input("Enter new date : "))
print(d)

Enter new date : 2021
{'Company': 'Ineuron', 'Course': 'Data science', 'Year': 2021}

In [15]:
my_dict={}
for i in range(10):
    my_dict[i]=i*i

print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [16]:
#Dictionary Comprehension
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Function

In [3]:
a=10
b=20
a+b

30

In [6]:
#Using function

def sum(a,b):
    print(a+b)

sum(10,20)

30

In [5]:
sum(5,10)

15

In [13]:
# Difference between Print and Return

def sum(a,b):
    print(a+b)

sum(10,20)

30

In [14]:
#Print returns NoneType

type(sum(10,20))

30

NoneType

In [15]:
def sum(a,b):
    return(a+b)

sum(10,20)

30

In [16]:
#Return gives same data type of that operation result.

type(sum(10,20))

int

In [17]:
#Example of case using Print

def sum(a,b):
    print(a+b)

sum(10,20)+6

30

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [18]:
#Example of case using Return

def sum(a,b):
    return a+b

sum(10,20)+6

36

In [20]:
# Print is not able to store data

def sum(a,b):
    print(a+b)

a=sum(10,20)

30

In [23]:
print(a)

None

In [24]:
# Print is able to store data

def sum(a,b):
    return a+b

a=sum(10,20)

In [25]:
print(a)

30

In [26]:
def test1(m,n,o):
    return m + n

In [28]:
#Need to type 3 arguments, even if we dont use it inside a function

test1(1,5)

TypeError: test1() missing 1 required positional argument: 'o'

In [29]:
def test2(m,n):
    return m+n, m*n, m-n

In [31]:
# Returns a tuple

test2(5,2)

(7, 10, 3)

In [32]:
# For getting result as separate variables, rather than tuple

x,y,z = test2(5,2)

In [33]:
x

7

In [34]:
y

10

In [35]:
z

3

In [40]:
# Using place holder

x,y,_ = test2(5,2)

In [41]:
x

7

In [42]:
y

10

In [43]:
_

3

In [44]:
x,_,_ = test2(5,2)

In [45]:
x

7

In [46]:
_

7

In [47]:
_

7

In [48]:
#passing a list 

def test3(n):
    return n,n*2

In [49]:
test3([2,8,4,6])

([2, 8, 4, 6], [2, 8, 4, 6, 2, 8, 4, 6])

In [52]:
a= test3([2,8,4,6])
a[0]

[2, 8, 4, 6]

In [53]:
a[1]

[2, 8, 4, 6, 2, 8, 4, 6]

In [56]:
#Assigning defalt values inside a function

def test4(x=True, y=False):
    return x+y

In [57]:
test4()

1

In [60]:
test4(_,True)

2

In [61]:
test4(False)

0

In [62]:
def travel(bike= True, car= False):
    plan_travel = bike or car
    return bike, car, plan_travel

In [63]:
travel()

(True, False, True)

In [64]:
travel(False)

(False, False, False)

In [65]:
travel(car=True)

(True, True, True)

In [66]:
def test5(*args):
    return args

In [67]:
test5("amal","sdsd",514,[266,"vcx",57])

('amal', 'sdsd', 514, [266, 'vcx', 57])

#### Task 1

In [24]:
# Do concatination of many lists, with function
def concat(*args):
    a=[]
    for i in args:
        a.extend(i)
    return a
        
    
    
concat([1,2,3,4],[5,6,7,8],["amal","vin",54])

[1, 2, 3, 4, 5, 6, 7, 8, 'amal', 'vin', 54]

In [3]:
def concat(*args):
    a=[]
    for i in args:
        if type(i)==list:
            a.extend(i)
    return a
        
    
    
concat([1,2,3,4],254,["amal","vin",54])

[1, 2, 3, 4, 'amal', 'vin', 54]

In [4]:
def test6(**kwargs):
    return kwargs

test6(1,5,4)

TypeError: test6() takes 0 positional arguments but 3 were given

In [27]:
# *args gives a tuple and **kwargs gives a dictionary

def test6(**kwargs):
    return kwargs

test6(a=1,b=5,c=4)

{'a': 1, 'b': 5, 'c': 4}

In [28]:
def test6(**kwargs):
    return kwargs

test6(a:1,b:5,c:4)

SyntaxError: invalid syntax (<ipython-input-28-0f57c9555655>, line 4)

#### TASK

#### Q1. Function with mixed data and create list of seperate data based on data type and return multiple result

In [11]:
def concat (*args):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)]=[i]
    return dt
            
        
    
concat(1,2,3,[5,6,7],"hi","io",6+7j,6+4j,{45:"st",78:"dt"})

{int: [1, 2, 3],
 list: [[5, 6, 7]],
 str: ['hi', 'io'],
 complex: [(6+7j), (6+4j)],
 dict: [{45: 'st', 78: 'dt'}]}

#### Q2. Create a funcion which will be able to use *args and **kwargs and it will be able to do all the list value concatination and return a list

In [17]:
def concat(*args,**kwargs):
    a=[i for i in args if type(i)==list]
    b=[i[1] for i in kwargs.items() if type(i[1])==list]
    return a,b

concat([4,5,6,7,8],[5,6,7,8,9,0],"amal",5,5,6,7,a=5,b="fsdfds",m=[4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])