In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
1+1

2

In [3]:
print("Amal")

Amal

In [4]:
print("Python class started")

Python class started

In [5]:
print("This is my first python program")

This is my first python program

In [6]:
#Single line comments
"""fds
sd
fsd
f
sdff"""

'fds\nsd\nfsd\nf\nsdff'

In [7]:
a=10

In [8]:
type(a)

int

In [9]:
a = 10
b = "Amal"

In [10]:
print(a)
print(b)

10
Amal

In [11]:
a,b = 10,"Amal"

In [12]:
print(a)
print(b)

10
Amal

In [13]:
c ="Hiee"

In [14]:
a,b,c

(10, 'Amal', 'Hiee')

In [15]:
print(a,b,c)

10 Amal Hiee

In [16]:
#Dont start a variable with a number
2b="amal"

SyntaxError: invalid syntax (<ipython-input-16-6cea3c1c685a>, line 2)

In [ ]:
a=2.54688
type(a)

In [ ]:
a=True
type(a)

In [3]:
print(True+True+True+False+True)

4

In [4]:
print(False-True+True)

0

In [5]:
print(True/False)

ZeroDivisionError: division by zero

#### Complex number

In [7]:
n= 45+6j

In [8]:
type(n)

complex

In [9]:
n

(45+6j)

In [10]:
n.real

45.0

In [11]:
n.imag

6.0

In [12]:
m=84+75j

In [13]:
n*m

(3330+3879j)

In [14]:
#Strong typing concept
str(1)+"Sudh"

'1Sudh'

In [15]:
#upcasting, getting final output in float
1+1.23

2.23

In [16]:
#Concatination, addition of strings
"amal"+"amal"+"amal"

'amalamalamal'

In [ ]:
a=input("Enter a integer : ")

In [ ]:
type(a)

In [ ]:
a=input("Enter first integer : ")
b=input("Enter second integer : ")
c=input("Enter third integer : ")

In [ ]:
calculation=(int(a)+int(b)+int(c))

In [ ]:
d=45+4j

In [ ]:
calculation1=calculation+d

In [ ]:
print(str(calculation1)+"AMAL")

## if else condition

In [21]:
a=int(input("Input a number : "))
if a<34:
    print("data input is lesser than 34 and I am fine with it")
elif a<100:
    print("My data is lesser than 100")
else:
    print("user input is not lesser than 34")

Input a number : 102
user input is not lesser than 34

In [23]:
salary=int(input("Enter your salary : "))
if salary>1000:
    print("Your salary is good")
    if salary>5000:
        print("I will go with a Tata Nano car")
        if True:
            print("False code")
    elif salary>10000:
        print("I will go with a Maruthi car ")
    elif salary>50000:
        print("I will go with a Toyota")
    else:
        print("I will rent a car")
elif salary<500:
    print("I will go for a bike")
elif salary>100:
    print("I will not buy anything")
else:
    print("I will go for savings")

Enter your salary : 5002
Your salary is good
I will go with a Tata Nano car
False code

In [29]:
a=10
b=30

if a==10 and b>20:
    print("This is a valid statement")
elif a==10 and b<20:
    print("Type a value for b greater than 20")
else:
    print("This is not a valid statement")

This is a valid statement

#### Task 1

In [40]:
a=input("Enter your first name: ")
first_name=len(a)
b=input("Enter your last name: ")
last_name=len(b)
if first_name==0 or last_name==0: 
    print("The name is not valid")
else:
    print("The name is valid")

Enter your first name:
Enter your last name: vincent
The name is not valid

## While Statement

In [41]:
initial_speed=0
final_speed=100
count=1
while initial_speed<final_speed:
    print("This is my speed")
    count=count+1
    if count==10:
        break

This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed
This is my speed

In [42]:
i=1
j=5
while i<j:
    print(i)
    i=i+1

1
2
3
4

In [1]:
notes = 5 
i = 1
while i< notes:
    print(i)
    i+=1
else:
    print("No 10 rupees notes are avaiable")

1
2
3
4
No 10 rupees notes are avaiable

In [2]:
s="sudh"

In [3]:
s[2]

'd'

In [2]:
name="my name is amal"

In [8]:
a=name[3:10]

In [9]:
a[::-1]

'si eman'

In [4]:
name[10:3:-1]

' si ema'

In [5]:
name[3:13:2]

'nm sa'

In [6]:
name[3:-2]

'name is am'

In [9]:
 name[9:-13:-1]

'si eman'

In [2]:
a="my name is amal"

## For Loop

In [12]:
for i in a:
    print(i)

m
y

n
a
m
e

i
s

a
m
a
l

In [3]:
for i in a:
    print(i)
else:
    print("This is a else condition")

m
y

n
a
m
e

i
s

a
m
a
l
This is a else condition

In [8]:
for i in a:
    print(i)
else:
    if i=="l":
        print("L is the last character")
    print("END")

m
y

n
a
m
e

i
s

a
m
a
l
L is the last character
END

In [9]:
for i in a:
    if i=="e":
        break
    print(i)
else:
    if i=="l":
        print("L is the last character")
    print("END")

m
y

n
a
m

In [10]:
for i in a:
    if i=="e":
        continue
    print(i)
else:
    if i=="l":
        print("L is the last character")
    print("END")

m
y

n
a
m

i
s

a
m
a
l
L is the last character
END

In [12]:
s="ineuron"
ss=""
for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss = ss + s[i]

In [13]:
ss

'ieuro'

## Nested loops

In [21]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end="")
    print("\r")

+
++
+++
++++
+++++
++++++
+++++++

In [1]:
n=7
for i in range(n,0,-1):
    for j in range(0,n-i):
        print(" ",end="")
    for j in range()

Enter the number of rows : 7

In [6]:
n=7
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(i-1):
        print("* ",end="")
    print("\r")

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [4]:
n=9
for i in range(0,n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i+1):
        print("* ", end="")
    print("\r")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

In [2]:
n=9
i=0
while i<n:
    print(" "*(n-i-1)+"* "*(i+1))
    i+=1

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
* * * * * * * * *

## LIST

In [7]:
name="amal"
mobile=8955446621
address="sasasas sashgags"

In [32]:
l=["amal",34535, "ssks sss", True, 45+8j, [3,5,6,"dfg"],6.787]

In [33]:
l

['amal', 34535, 'ssks sss', True, (45+8j), [3, 5, 6, 'dfg'], 6.787]

In [34]:
type(l)

list

In [35]:
l[1]

34535

In [36]:
for i in l:
    if type(i)==list:
        for j in l:
            print(type(j))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [38]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n + j
        print(n)
        print(type(j))

14
<class 'str'>

In [40]:
l[80:3:-1]

[6.787, [3, 5, 6, 'dfg'], (45+8j)]

In [41]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
name='My name is Amal Vincent, I am from Kanichar. It's a nice place'

SyntaxError: invalid syntax (<ipython-input-1-641b0c59e779>, line 1)

In [49]:
name='My name is Amal Vincent, I am from Kanichar. It"s a nice place'

In [50]:
name

'My name is Amal Vincent, I am from Kanichar. It"s a nice place'

In [7]:
#String parsing
name[-2]

'c'

In [8]:
len(name)

62

In [12]:
name[80]

IndexError: string index out of range

In [24]:
name[-1:-18:-1]

'ecalp ecin a s"tI'

In [2]:
string = input("Please enter your own String : ")

s = ""


for i in string:
     s= i + s

print("The Reversed String = ", s)

Please enter your own String : my name is amal
The Reversed String =  lama si eman ym

#### String is immutable

In [3]:
a="new code"

In [5]:
a[1]

'e'

In [6]:
a[1]="f"

TypeError: 'str' object does not support item assignment

#### But list is mutable

In [7]:
a=["new code",15,46]

In [8]:
a[0]

'new code'

In [9]:
a[0]="Old code"

In [10]:
a

['Old code', 15, 46]

#### Concatination

In [12]:
"Amal"+" Vincent"

'Amal Vincent'

In [13]:
"Amal"+["Vincent",51,4]

TypeError: can only concatenate str (not "list") to str

In [15]:
"AMAL "*6

'AMAL AMAL AMAL AMAL AMAL AMAL '

#### Inbuilt

In [5]:
q="Amal Vincent"

In [11]:
q.find("Vin")

5

In [12]:
q.find("vin")

-1

#### Question

In [31]:
s="my name is"

In [33]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [37]:
q="amal vincent"

In [39]:
q.count("n")

2

In [40]:
name='My name is Amal Vincent, I am from Kanichar. It"s a nice place'
name.split()

['My',
 'name',
 'is',
 'Amal',
 'Vincent,',
 'I',
 'am',
 'from',
 'Kanichar.',
 'It"s',
 'a',
 'nice',
 'place']

In [42]:
name.split(",")

['My name is Amal Vincent', ' I am from Kanichar. It"s a nice place']

In [43]:
q="amal vincent"
q.upper()

'AMAL VINCENT'

In [45]:
q="AMAL VINCENT"
q.lower()

'amal vincent'

In [46]:
q="AmAL ViNcENT"
q.swapcase()

'aMal vInCent'

In [52]:
name="My name is Amal Vincent, I am from Kanichar"
":".join(name)

'M:y: :n:a:m:e: :i:s: :A:m:a:l: :V:i:n:c:e:n:t:,: :I: :a:m: :f:r:o:m: :K:a:n:i:c:h:a:r'

In [55]:
q="amal vincent"
list(reversed(q))

['t', 'n', 'e', 'c', 'n', 'i', 'v', ' ', 'l', 'a', 'm', 'a']

In [57]:
for i in reversed(q):
    print(i)

t
n
e
c
n
i
v

l
a
m
a

In [58]:
s=" amal   "
s.strip()

'amal'

In [59]:
s="    am al   "
s.strip()

'am al'

In [60]:
s="   amal   "
s.lstrip()

'amal   '

In [61]:
s="   amal   "
s.rstrip()

'   amal'

In [62]:
s="amal viaceat"
s.replace("a","n")

'nmnl vincent'

In [63]:
s

'amal viaceat'

In [64]:
s=s.replace("a","n")

In [65]:
s

'nmnl vincent'

In [66]:
s="amal vincent"
s.center(20,"b")

'bbbbamal vincentbbbb'

In [67]:
s="amal vincent"
s.center(20,"ty")

TypeError: The fill character must be exactly one character long

In [69]:
s="amal\tvincent"
s.expandtabs()

'amal    vincent'

#### TASK

In [110]:
a="we all are a part of Full Stack"
# normalizing all the strings in lower case
print(a.lower())
#Find number of occurances of "a" in entire data
print("The count of 'a' is : ",a.count("a"))
#Find all the location/index of "a" in string
print("Index are: ")
for i in range(len(a)):
    if a[i]=="a":
        print(i)
# Replace all the "a" with "ineuron"
print("Replaced string : ",a.replace("a","ineuron"))
#Print all the word as a list
print("Splitted String : ",a.split(" "))

we all are a part of full stack
The count of 'a' is :  5
Index are:
3
7
11
14
28
Replaced string :  we ineuronll ineuronre ineuron pineuronrt of Full Stineuronck
Splitted String :  ['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

#### Inbuilt checking methods (starts with is)

In [111]:
s="Amal Vincent"
s.isupper()

False

In [112]:
s="Amal Vincent"
s.islower()

False

In [116]:
s="      "
print(s.isspace())
s="Amal Vincent"
print(s.isspace())

True
False

In [117]:
s="Amal Vincent"
s.isdigit()

False

In [118]:
s="Amal Vincent"
s.endswith("t")

True

In [121]:
s="Amal Vincent"
s.startswith("A")

True

In [132]:
s="amal 845"
s.isalnum()

False

In [134]:
s="AmalVincent"
s.isalpha()

True

In [136]:
s="Amal Vincent"
s.istitle()

True

In [140]:
#Reversal using while loop
s="amal"
ch=len(s)-1
while ch>=0:
    print(s[ch])
    ch=ch-1

l
a
m
a

In [143]:
#Finding a vowel from one string and checking with other string
s=" owl is a bird"
vowel="AaEeIiOoUu"
for i in s:
    if i in vowel:
        print("{} is a vowel".format(i))
    else:
        print("{} is not a vowel".format(i))

  is not a vowel
o is a vowel
w is not a vowel
l is not a vowel
  is not a vowel
i is a vowel
s is not a vowel
  is not a vowel
a is a vowel
  is not a vowel
b is not a vowel
i is a vowel
r is not a vowel
d is not a vowel

In [147]:
# Checking whether a number is a palindrome or not?
s=input("Enter the data to check : ")
s1=s[::-1]
if s==s1:
    print("It is a palindrome")
else:
    print("It is a not palindrome")

Enter the data to check : malayalam
It is a palindrome

# List

In [150]:
n=["amal",45,78,4,"eat",84]

In [151]:
n[1]

45

In [152]:
n[0:2]

['amal', 45]

In [153]:
n[::-1]

[84, 'eat', 4, 78, 45, 'amal']

In [154]:
#Concatinate
s="vincent"
c=n+s

TypeError: can only concatenate list (not "str") to list

In [156]:
s=list("vincent")
c=n+s
print(c)

['amal', 45, 78, 4, 'eat', 84, 'v', 'i', 'n', 'c', 'e', 'n', 't']

In [157]:
s=["vincent"]
c=n+s
print(c)

['amal', 45, 78, 4, 'eat', 84, 'vincent']

In [158]:
n*4

['amal',
 45,
 78,
 4,
 'eat',
 84,
 'amal',
 45,
 78,
 4,
 'eat',
 84,
 'amal',
 45,
 78,
 4,
 'eat',
 84,
 'amal',
 45,
 78,
 4,
 'eat',
 84]

In [159]:
len(n)

6

In [160]:
#Finding my name in list
"amal" in n

True

In [1]:
l=["Amal",84,2241,[4,"sha",78]]

In [2]:
84 in l

True

In [3]:
85 in l

False

In [8]:
#Printing Maximum
print(max([45,7,2,8]))

45

In [6]:
print(max(["aml","fef","zds","jfh"]))

zds

In [7]:
print(max(["ama",845,"dd","lkah"]))

TypeError: '>' not supported between instances of 'int' and 'str'

In [9]:
# Printing Minimum( It works in alphabetics order)
print(min(["asdf","hvct","teus"]))

asdf

In [10]:
print(min([454,15,79]))

15

In [11]:
#Inbuild function
l=[1,2,4,5,6]

In [12]:
l.append(9)

In [13]:
l

[1, 2, 4, 5, 6, 9]

In [14]:
l.append(34+7j)

In [15]:
l

[1, 2, 4, 5, 6, 9, (34+7j)]

In [16]:
l+"ansm"

TypeError: can only concatenate list (not "str") to list

In [17]:
l.append("ansm")

In [18]:
l

[1, 2, 4, 5, 6, 9, (34+7j), 'ansm']

In [19]:
l.insert(2,3)

In [20]:
l

[1, 2, 3, 4, 5, 6, 9, (34+7j), 'ansm']

In [21]:
#Insert, brings number added before the index item
l.insert(-1,87)

In [22]:
l

[1, 2, 3, 4, 5, 6, 9, (34+7j), 87, 'ansm']

In [23]:
#gives count of item
l.count(87)

1

In [24]:
l=[1,5,7,8,9]

In [25]:
l.append("amal")

In [26]:
l

[1, 5, 7, 8, 9, 'amal']

In [27]:
l.append([84,"ds",8])

In [28]:
l

[1, 5, 7, 8, 9, 'amal', [84, 'ds', 8]]

In [29]:
#Extend
l.extend("test1")

In [30]:
l

[1, 5, 7, 8, 9, 'amal', [84, 'ds', 8], 't', 'e', 's', 't', '1']

In [32]:
#Extend always take iterable objects
l.extend(78)

TypeError: 'int' object is not iterable

In [68]:
l=[1, 5, 7, 8, 9, 'amal']

In [66]:
l.append(["sdshd",54,["sd",84]])

In [67]:
l

[1, 5, 7, 8, 9, 'amal', ['sdshd', 54, ['sd', 84]]]

In [69]:
l.extend(["sdshd",54,["sd",84]])

In [70]:
l

[1, 5, 7, 8, 9, 'amal', 'sdshd', 54, ['sd', 84]]

In [72]:
#Gives index
l.index(5)

1

In [73]:
#Removal of last item using pop()
l.pop(3)

8

In [74]:
l

[1, 5, 7, 9, 'amal', 'sdshd', 54, ['sd', 84]]

In [75]:
l=[4,8,9,4,"sjak"]

In [76]:
#Remove
l.remove(4)

In [77]:
l

[8, 9, 4, 'sjak']

In [78]:
#To remove second 4
l.remove(4)

In [79]:
l

[8, 9, 'sjak']

In [80]:
#To reverse
l.reverse()

In [81]:
l

['sjak', 9, 8]

In [82]:
#Sorting, if only integers are there
l=[45,8,6,1,78,94]
l.sort()

In [83]:
l

[1, 6, 8, 45, 78, 94]

In [84]:
l=[1, 6, 8, 45, 78, 94,"sdvs"]

In [85]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

#### TASK

In [16]:
s=[[1,2,3],[11,12,"b","b","b"],[21,"t",223,44],[4,5,6],[7,8,9],"demo",12.5]
print("Initial list :",s)
#Part 1
s.insert(2,["sd","sd","sd",541])
s.insert(2,[75,541])
s.insert(2,(34+4j))
print("New List : ",s)
#Part 2
for i in s:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("Index number of string {} is : ".format(i[j]),j)
            j=j+1
        j=0
        while j<len(i):
            if type(i[j]) is str:
                print("The string in the nested list is {}".format(i[j]))
                i.remove(i[j]) 
                continue
            j=j+1
print("List after removal of string from nested list is :\n",s)

Initial list : [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [21, 't', 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
New List :  [[1, 2, 3], [11, 12, 'b', 'b', 'b'], (34+4j), [75, 541], ['sd', 'sd', 'sd', 541], [21, 't', 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]
Index number of string b is :  2
Index number of string b is :  3
Index number of string b is :  4
The string in the nested list is b
The string in the nested list is b
The string in the nested list is b
Index number of string sd is :  0
Index number of string sd is :  1
Index number of string sd is :  2
The string in the nested list is sd
The string in the nested list is sd
The string in the nested list is sd
Index number of string t is :  1
The string in the nested list is t
List after removal of string from nested list is :
 [[1, 2, 3], [11, 12], (34+4j), [75, 541], [541], [21, 223, 44], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

In [ ]:
#Taking input a list from user
l=[]
for i in range(10):
    l.append(int(input("Enter the inputs : ")))

In [6]:
l=[1,2,3,4,5]
l1=[]

In [7]:
for i in "AMAL":
    l1.append(i)

In [8]:
l1

['A', 'M', 'A', 'L']

In [9]:
#List Comprehinsion
[i for i in "AMAL"]

['A', 'M', 'A', 'L']

In [10]:
#Nested list
[[i] for i in "AMAL"]

[['A'], ['M'], ['A'], ['L']]

In [11]:
l=[]
for i in range(10):
    if i%2==0:
        l.append(i)

In [12]:
l

[0, 2, 4, 6, 8]

In [1]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [2]:
l=[]
for i in range(10):
    if i%2!=0:
        l.append("Odd")
    else:
        l.append("Even")

In [3]:
l

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [4]:
["Odd" if i%2!=0 else "Even" for i in range(10)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [5]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)

In [6]:
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [8]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [10]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [11]:
l=[]
for i in range(8):
    if i%2==0:
        if i%3==0:
            l.append(i)

In [12]:
l

[0, 6]

In [13]:
l=[]
for i in range(10):
    l.append(i)

In [14]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
["Yes" if i==1 else "No" if i==2 else "test" for i in range(10)]

['test', 'Yes', 'No', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [17]:
l=[]
for i in range(10):
    if i==1:
        l.append("Yes")
    elif i==2:
        l.append("No")
    else:
        l.append("Test")

In [18]:
l

['Test', 'Yes', 'No', 'Test', 'Test', 'Test', 'Test', 'Test', 'Test', 'Test']